<div class="d-flex flex-row">
    <div class="p-2">
        <img src="assets/find-your-song.jpg" class="card-img-top round-card" alt="...">
    </div>
    <div class="align-self-center">
        <div class="container">
            <div class="col">
                <div class="row title">
                    Find Your Song
                </div>
                <div class="row body">
                    Find the sheet music you’re looking for—from beginner to pro, Bach to Prince, and banjo to
                    piano—available in any key.
                </div>
            </div>
        </div>
    </div>
</div>