div.container-fluid{
    color: #cccccc;
    justify-content: center;
    column-gap: 5px;
    margin-bottom: 100px;
}

.cjust{
    justify-content: center;
}

.l1{
color:black;
font-size: 25px;
font-weight: 100;
letter-spacing: 3px;
margin-bottom: 0;
}

.l2{
    color:black;
font-size: 15px;
margin-bottom: 15px;
}

.l3{
    color: #22313f;
    font-size: 14px;
}

.top-pad{
    padding-top: 45px;
}

.moreButton{
    color: #22313f;
    border: none;
    display: inline-block;
    padding: 10px 35px;

    justify-content: left;
    padding-left: 0;
}

.nlbutton{
    color: #00a1ff;
    border-color: #00a1ff;
    border-radius: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 0;
}

.left-margin{
    margin-left: 500px;
    margin-right: 5px;
    padding-right:5px;
}
.right-margin{
    margin-right: 500px;
    margin-left: 5px;
    padding-left: 5px;
}

iframe{
    margin-top: 15px;
    margin-bottom: 15px;
}