<div class="container-fluid d-flex cjust">
    <div class="col" >
        <img src="\assets\900x520_guitar-min.jpg" width="400">
    </div>

    <div class="col top-pad">
        <div class="row l1">
            Guitar Sheet Music
        </div>

        <div class="row l2">
            Guitar tab, also known as tablature, is a form of written music designed just for guitar. 
            Unlike guitar sheet music, guitar tab music provides a visualization of where to place your 
            fingers as you play. Whether you're looking for an old favorite or something new to learn, 
            Musicnotes offers the largest collection of guitar tabs available. We even have Easy Guitar Tabs to get you started.
             We also combine our tabs and traditional sheet music on the same page, so you can use whichever you prefer.
        </div>

        <div class="row l2">
            Browse our newest and most popular tab sheet music below and sync your purchases to our free iOS, Android, or desktop apps for markup, 
            transposition, and more!
        </div>

        <div class="row l3">
            Browse All Guitar Tabs
          </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="container-fluid d-flex">
            <div *ngFor="let song of SongCards">
                <mn-sheet-music-card img={{song.img}} title={{song.title}} artist={{song.artist}} inst={{song.inst}}>
                    Loading
                </mn-sheet-music-card>
            </div>
        </div>
    </div>
</div>

