<div class="container-fluid d-flex cjust">
    <div class="col" >
        <img src="\assets\900x520_piano-min.jpg" width="400">
    </div>

    <div class="col top-pad">
        <div class="row l1">
            Piano Sheet Music
        </div>

        <div class="row l2">
            Musicnotes provides you with the largest catalog of piano sheet music.
             Whether you’re a professional looking for piano scores or a newcomer in 
             search of some piano solo sheet music, we’ve got something for almost every artist, style, or arrangement.
        </div>

        <div class="row l2">
            Browse our newest or most popular piano sheet music below and sync your 
            purchase to our free iOS, Android, or desktop apps for transposition, 
            markup, audio-mixing playback, and more! 
        </div>

        <div class="row l3">
            Browse All Piano Sheet Music
          </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="container-fluid d-flex">
            <div *ngFor="let song of SongCards">
                <mn-sheet-music-card img={{song.img}} title={{song.title}} artist={{song.artist}} inst={{song.inst}}>
                    Loading
                </mn-sheet-music-card>
            </div>
        </div>
    </div>
</div>

