<div class="container-fluid d-flex cjust">
    <div class="col">
        <img src="\assets\900x520_voice-min.jpg" width="400">
    </div>

    <div class="col top-pad">
        <div class="row l1">
            Sheet Music for Solo Voice
        </div>

        <div class="row l2">
            Musicnotes provides you with the largest catalogue of sheet music for solo voice.
            Browse our newest or bestselling sheet music for solo voice below and find something new to add to your
            music stand today!
        </div>

        <div class="row l2">
            Get the most out of your sheet music purchase when you sync your new sheets to our FREE iOS, Android and
            desktop apps, and unlock in-app transposition, audio-mixing playback, markup abilities and much more.
        </div>

        <div class="row l3">
            Browse All Solo Voice Sheet Music
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="container-fluid d-flex">
            <div *ngFor="let song of SongCards">
                <mn-sheet-music-card img={{song.img}} title={{song.title}} artist={{song.artist}} inst={{song.inst}}>
                    Loading
                </mn-sheet-music-card>
            </div>
        </div>
    </div>
</div>