<div class="container-fluid d-flex cjust">
    <div class="col">
        <img src="\assets\900x520_flute-min.jpg" width="400">
    </div>

    <div class="col top-pad">
        <div class="row l1">
            Sheet Music for Flute
        </div>

        <div class="row l2">
            The flute is a popular instrument for new learners and seasoned musicians alike. No matter your experience
            level, Musicnotes offers the largest collection of flute sheet music to keep you inspired. Browse our
            selection of flute notes, from classics to contemporary favorites, and find something new to add to your
            music stand. We even have Easy Flute Sheet Music to get you started. Plus, use the Musicnotes App to store,
            mark up, and access your music from anywhere.
        </div>

        <div class="row l3">
            Browse All Flute Sheet Music
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="container-fluid d-flex">
            <div *ngFor="let song of SongCards">
                <mn-sheet-music-card img={{song.img}} title={{song.title}} artist={{song.artist}} inst={{song.inst}}>
                    Loading
                </mn-sheet-music-card>
            </div>
        </div>
    </div>
</div>