<mn-firstnavbar>Loading...</mn-firstnavbar>
<mn-secondnavbar>Loading...</mn-secondnavbar>


<mn-song-bar>Loading...</mn-song-bar>
<div class="container d-flex cjust">
    <div class="col">
        <div class="row cjust adHeading">
            Your Sheet Music, Anywhere
        </div>
        <div class="row adParagraph">
            Get back to the music faster with Musicnotes! Just choose your sheet music from our catalog of over 400,000
            high-quality arrangements for every instrument, skill level, and scoring. Then, checkout and print instantly
            in any available key.
            Plus, access your sheet music library anywhere with our free iOS, Mac, Android, and PC apps!
        </div>
    </div>
</div>
<div class="container-fluid d-flex">
    <div *ngFor="let category of categoryCards">
        <mn-category-card img={{category.img}} heading={{category.heading}} body={{category.body}}>
            Loading...</mn-category-card>

    </div>
</div>
<mn-video-bar>Loading...</mn-video-bar>

<div class="container">
    <div class="row mnBlog">From The Musicnotes Blog</div>
    <div class="row">
        <div class="container-fluid d-flex">
            <div *ngFor="let card of blogCards">
                <mn-blog-card img={{card.img}} heading={{card.heading}} body={{card.body}}>
                    Loading...
                </mn-blog-card>
            </div>

        </div>
    </div>
    <div class="row cjust">
        <button type="button" class="btn btn-outline-primary nlbutton">Visit The Blog</button>
    </div>
</div>

<div class="container-fluid d-flex flatIMG">
    <img class="card-img-top" src="assets/AppBanner.png" alt="Card image cap">
</div>

<mn-sheet-music-card></mn-sheet-music-card>

<mn-footer>Loading...</mn-footer>