<mn-firstnavbar>Loading...</mn-firstnavbar>
<mn-secondnavbar>Loading...</mn-secondnavbar>

Welcome to Musicnotes!

<div class="container-fluid d-flex">
<mn-category-card>Loading...</mn-category-card>
<mn-category-card>Loading...</mn-category-card>
<mn-category-card>Loading...</mn-category-card>
</div>

<mn-video-bar>Loading...</mn-video-bar>

<div class="container">
    <div class="row mnBlog">From The Musicnotes Blog</div>
    <div class="row">
        <div class="container-fluid d-flex">
        <mn-blog-card>Loading...</mn-blog-card>
        <mn-blog-card>Loading...</mn-blog-card>
        <mn-blog-card>Loading...</mn-blog-card>
    </div>
    </div>
    <div class="row cjust">
        <button type="button" class="btn btn-outline-primary nlbutton">Visit The Blog</button>
    </div>
</div>

<div class="container-fluid d-flex flatIMG">
    <img class="card-img-top" src="assets/AppBanner.png" alt="Card image cap">
</div>

<mn-footer>Loading...</mn-footer>