<nav class="navbar navbar-light">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="assets/mn-logo.svg" alt="" height="49" width="190">
      </a>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search for Artist Name or Song Title" aria-label="Search">
        <input class="btn btn-primary" style="background-color:rgb(110, 180, 44);color:white" type="submit" value="Submit">
      </form>
      <div class="btn-group-vertical">
        <button type="button" class="btn mnheaderbutton">Musicnotes Pro</button>
        <button type="button" class="btn mnheaderbutton">Send a Gift Card</button>
      </div>
      <div class="vstack">
        <div class="container">
          <div class="row justify-content-sm-center">
            <div class="col-sm-auto">
              Hi,
            </div>
            <div class="col-sm-auto">
              <button type="button" class="btn mnheaderbutton">Sign In</button>
            </div>
          </div>
          <div class="row justify-content-sm-center">
            <button type="button" class="btn mnheaderbutton bold">My Account</button>
          </div>
        </div>
      </div>
      <style>
        .vl {
          border-left: 3px solid darkgray;
          height: 60px;
        }
        </style>
        
        <div class="vl"></div> 
        <button class="btn"><i class="bi cart-fill"></i></button>
    </div>
  </nav>
  