<nav class="navbar navbar-light">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="assets/mn-logo.svg" alt="" height="49" width="190">
    </a>

  


    <form class="container scale">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for Artist Name or Song Title" aria-label="Search" aria-describedby="basic-addon1">
        <span class="input-group-text mnbg" id="basic-addon1">
          <svg href="#" class="bi" width="32" height="32" fill="#cccccc">
            <use xlink:href="assets/bootstrap-icons.svg#search" />
        </svg>
        </span>
      </div>
    </form>

    <div class="btn-group-vertical">
      <button type="button" class="btn mnheaderbutton">Musicnotes Pro</button>
      <button type="button" class="btn mnheaderbutton">Send a Gift Card</button>
    </div>
    <div class="vstack">
      <div class="container">
        <div class="row justify-content-sm-center">
          <div class="col-sm-auto">
            Hi,
          </div>
          <div class="col-sm-auto">
            <button type="button" class="btn mnheaderbutton">Sign In</button>
          </div>
        </div>
        <div class="row justify-content-sm-center">
          <button type="button" class="btn mnheaderbutton bold">My Account</button>
        </div>
      </div>
    </div>

     <style>
.vl {
  border-left: 2px solid #cccccc;
  height: 40px;
}
</style>

<div class="vl"></div> 

    <button id="cart-button">
      <svg href="#" class="bi" width="32" height="32" fill="#ffffff">
        <use xlink:href="assets/bootstrap-icons.svg#cart-fill" />
    </svg>
    </button>
  </div>
</nav>