<nav class="navbar navbar-light">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="assets/mn-logo.svg" alt="" height="49" width="190">
    </a>
    <form class="container">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Username" aria-label="Username"
          aria-describedby="basic-addon1">
        <span class="input-group-text" id="basic-addon1">
          <svg class="bi" height="30" fill="currentColor">
            <use xlink:href="assets/bootstrap-icons.svg#search" />
          </svg>
        </span>
      </div>
    </form>
    <div class="btn-group-vertical">
      <button type="button" class="btn mnheaderbutton">Musicnotes Pro</button>
      <button type="button" class="btn mnheaderbutton">Send a Gift Card</button>
    </div>
    <div class="vstack">
      <div class="container">
        <div class="row justify-content-sm-center">
          <div class="col-sm-auto">
            Hi,
          </div>
          <div class="col-sm-auto">
            <button type="button" class="btn mnheaderbutton">Sign In</button>
          </div>
        </div>
        <div class="row justify-content-sm-center">
          <button type="button" class="btn mnheaderbutton bold">My Account</button>
        </div>
      </div>
    </div>
    <style>
      .vl {
        border-left: 3px solid darkgray;
        height: 60px;
      }
    </style>

    <div class="vl"></div>
    <button type="button" class="btn btn-success">
      <i class="bi bi-cart-fill"></i>
    </button>
  </div>
</nav>