nav.navbar{
    background-color: rgb(17, 19, 107);
    color: darkgray;

}

.mnheaderbutton{
    outline: none;
    background: none;
    color: darkgray;
    font-size: 15px;
    padding: 0px;
}

.bold{
    font-weight: 900;
}

