nav.navbar{
    background-color: #22313f;
    color: darkgray;

}

.mnheaderbutton{
    outline: none;
    background: none;
    color: darkgray;
    font-size: 15px;
    padding: 0px;
}

.bold{
    font-weight: 900;
}

#cart-button{
    background: none;
    border: none;
}

.scale{
    width: 60%;
}

.mnbg{
    color: #ffffff;
   background-color: #a2bc35;
}