<div class="container">
    <footer class="row row-cols-4 py-5 my-5 border-top">




        <div class="col">
            <h5>My Account</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Musicnotes Pro</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Order History</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Preferences</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Print Your Sheet Mustic</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Get Support</a></li>
            </ul>
        </div>

        <div class="col">
            <h5>About Musicnotes</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Careers</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Press</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Publish</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Affiliate Program</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Contact Us</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Terms & Privacy</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Accessability Statement</a></li>
            </ul>
        </div>

        <div class="col">
            <h5>Explore</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Musicnotes Blog</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Musicnotes NOW</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Song Spotlight</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Signature Artists</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Sales and Promotions</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Free Sheet Music</a></li>
            </ul>
        </div>

        <div class="col wideCol">
            <div class="container">
                <div class="row">
                    <button type="button" class="btn btn-outline-primary nlbutton">Subscribe to our Newsletter</button>
                </div>

                <div class="row">
                    Stay Connected
                </div>

                <div class="row">
                    <div class="col">
                        <svg href="#" class="bi" width="32" height="32" fill="#cccccc">
                            <use xlink:href="assets/bootstrap-icons.svg#facebook" />
                        </svg>
                    </div>

                    <div class="col">
                        <svg href="#" class="bi" width="32" height="32" fill="#cccccc">
                            <use xlink:href="assets/bootstrap-icons.svg#twitter" />
                        </svg>
                    </div>

                    <div class="col">
                        <svg href="#" class="bi" width="32" height="32" fill="#cccccc">
                            <use xlink:href="assets/bootstrap-icons.svg#youtube" />
                        </svg>
                    </div>

                    <div class="col">
                        <svg href="#" class="bi" width="32" height="32" fill="#cccccc">
                            <use xlink:href="assets/bootstrap-icons.svg#instagram" />
                        </svg>
                    </div>

                    <div class="col">
                        <svg href="#" class="bi" width="32" height="32" fill="#cccccc">
                            <use xlink:href="assets/bootstrap-icons.svg#pinterest" />
                        </svg>
                    </div>
                </div>

                <div class="row linkRow">
                    <div class="col">
                            <img src="assets/app-store.svg" alt="" style="width:100%" width="130">
                    </div>

                    <div class="col linkRow">
                            <img src="assets/google-play-badge.svg" alt="" style="width:100%" width="130">
                    </div>

                    <div class="col linkRow">
                            <img src="assets/windows-10-badge.svg" alt="" style="width:100%" width="130">
                    </div>
                </div>

                <div class="row linkRow">
                    <div class="col linkRow">
                        <img src="assets/amazon-app-badge.svg" alt="" style="width:100%" width="130">
                </div>
                <div class="col linkRow">
                    <img src="assets/mac-app-store-badge.svg" alt="" style="width:100%" width="130">
            </div>
                </div>
            </div>
        </div>
    </footer>
</div>