div.container{
    background-color: #22313f;
    color: #cccccc;
}

.linkRow {
    display: flex;
  }
  
  .linkCol {
    flex: 33.33%;
    padding: none;
  }

  .wideCol{
      column-width: 400px;
  }

  .nlbutton{
      border: 2px solid #a2bc35;
      color: currentColor;
  }

  .bg{
    background-color: #22313f;
  }

 