nav.navbar{
    background-color: #22313f;
}
.dropHeading{
    font-size: 18px;
    font-weight: bold;
}

.twocol{
    columns: 2;
}

.threecol{
    columns: 3;
}

.proFont{
    font-size: 20px;
    color: rgb(55, 116, 231)
}

.vabutton{
    border: 2px solid #0272b3;
    color: #0272b3;
}

.rhs{
    float: right;
}

.flex-container{
    display: flex;
    justify-content: center;
}

.ar{
    display: flex;
    justify-content: space-around;
    color: pink;
}

.divided{
    border-right: solid 2px black; 
}

.save{
    color: #a2bc35;
    font-weight: bold;
    font-style: italic;
    font-size: 16px;
}

.ul{
    text-decoration: underline;
}