<div class="card">
    <img class="card-img-top" src={{img}} alt="Card image cap">
    <div class="card-body">
        <div class="container">
            <div class="col">
                <div class="row title">
                    {{heading}}
                </div>

                <div class="row body">
                    {{body}}
                </div>

                <div class="row more">
                    Read More >
                </div>
            </div>
        </div>
    </div>
  </div>