<div class="card">
    <img class="card-img-top" src="assets/How-To-Read-Sheet-Music-1140x640.jpg" alt="Card image cap">
    <div class="card-body">
        <div class="container">
            <div class="col">
                <div class="row title">
                    Step-By-Step: How To Read Sheet Music
                </div>

                <div class="row body">
                    At its very simplest, music is a language just like you'd read aloud from a book. Think of the notes as the letters,
                     the measures as the words, the phrases as the sentences and so forth. Follow our step-by-step introduction to the language of 
                     music and you'll be playing along in no time at all.
                </div>

                <div class="row more">
                    Read More >
                </div>
            </div>
        </div>
    </div>
  </div>